.App {
  height: 100%;
  width: 100%;
  background-color: #faaecc;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

hr {
  width: 100%;
  border: 2px solid #fdfdfd;
}

.mainContainer {
  width: 90%;
  max-width: 420px;
  aspect-ratio: 420/560;
  background-color: #fdfdfd;
  border: 4px solid black;
  overflow: hidden;
}

.topBar {
  height: 9%;
  width: 100%;
  border-bottom: 4px solid black;
  background-color: #f8dad8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

.boxes {
  height: 100%;
  aspect-ratio: 1.1 / 1;
  background-color: #fafc97;
}

.left {
  border-right: 4px solid black;
}

.right {
  border-left: 4px solid black;
}

.right:hover {
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100%;
}
